@model MDashboard.Models.Widget

<form method="post" action="@Url.Action("GuardarComponentId", "Dashboard")">
    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="mb-3">
        <label class="form-label">ComponentId</label>
        <select class="form-control" name="ComponentId">
            <option value="">Selecciona una opción</option>
            <option value="1">Card</option>
            <option value="2">Tabla</option>
            <option value="3">Diseño personalizado</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
